@tailwind utilities;
@tailwind base;

.bn-container[data-theming-css-variables-demo][data-color-scheme] {
  --bn-colors-editor-text: hsl(var(--primary));
  --bn-colors-editor-background: transparent;
  --bn-colors-menu-text: hsl(var(--primary));
  --bn-colors-menu-background: hsl(var(--popover));
  --bn-colors-tooltip-text: hsl(var(--foreground));
  --bn-colors-tooltip-background: hsl(var(--background));
  --bn-colors-hovered-text: hsl(var(--accent-foreground));
  --bn-colors-hovered-background: hsl(var(--accent));
  --bn-colors-selected-text: hsl(var(--foreground));
  --bn-colors-selected-background: hsl(var(--accent));
  --bn-colors-disabled-text: hsl(var(--muted-foreground));
  --bn-colors-disabled-background: hsl(var(--muted));
  --bn-colors-shadow: rgba(0, 0, 0, 0.04);
  --bn-colors-border: hsl(var(--border));
  --bn-colors-side-menu: hsl(var(--muted-foreground));
  --bn-border-radius: var(--radius);
  --bn-border-radius: 4px;
  --bn-font-family: Helvetica Neue, sans-serif;
}

/* Changes for dark mode */
.bn-container[data-theming-css-variables-demo][data-color-scheme="dark"] {
  --bn-colors-editor-text: #ffffff;
  --bn-colors-editor-background: hsl(var(--card));
  --bn-colors-side-menu: #ffffff;
}


.bn-editor {
 @apply py-4;
}

.bn-block-content[data-content-type="heading"] h1, 
.bn-block-content[data-content-type="heading"] h2, 
.bn-block-content[data-content-type="heading"] h3
{
  @apply text-primary;
}
.bn-block img {
  @apply rounded-md mt-4 border border-border;
}